@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap"); // Variables
$color_one: rgb(255, 250, 242);
$color_two: #323651;
$color_three: rgba(255, 255, 255, 0.452);
$background_image: url("../rsc/background.png");
$main_font: "Zen Kaku Gothic Antique",
sans-serif;