@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap"); // Variables
$color_one: #525a40;
$color_two: #9CA686;
$color_three: #D2E6A3;
$color_text_clair: #ece5dd;
$color_text_fonce: #38322b;
$background_image: url("../rsc/background.png");
$main_font: "Zen Kaku Gothic Antique",
sans-serif;