@import "_variables.scss";
@import "_functions.scss";



.bolt {

    font-weight: 600;

}

.article_fonce {

    background-color: $color_one;
    color: $color_text_clair;
}

.article_clair {
    background-color: $color_three;
    color: $color_text_fonce
}

body {

    background-color: $color_three;
    background-image: $background_image;
    background-size: 1000px;
    font-family: $main_font;
    font-weight: 400;


    header {
        background-color: $color_one;


        .btn_header {

            color: $color_three;
            font-weight: 600;

            padding-left: 10px;
            padding-right: 10px;

            $margin: 2px;
            margin-left: $margin;
            margin-right: $margin;
            margin-top: $margin;
            margin-bottom: $margin;


            &:hover {
                background-color: $color_two;
                color: $color_one;
            }
        }
    }

    .video {
        width: 100%;
        height: auto;

    }

    main {
        font-size: 16px;
        color: $color_three;

        .c_article {
            padding: 20px;
            margin-block: 10px;
            margin-inline: 40px;
        }
    }

    footer {

        bottom: 0; // pas propre?
        width: 100%;
        height: 20px;
        background-color: $color_one;
        color: $color_three;
        font-size: 12px;
        font-weight: 200;
        text-align: left;
    }
}